/*=========================
RESET
=========================*/

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{

scroll-behavior:smooth;

}

body{

    background:
    radial-gradient(circle at 10% 20%, rgba(175,220,255,.45), transparent 30%),
    radial-gradient(circle at 90% 15%, rgba(255,220,170,.30), transparent 28%),
    radial-gradient(circle at 50% 85%, rgba(225,210,255,.28), transparent 35%),
    linear-gradient(180deg,#FCFEFF 0%,#F7FBFF 45%,#FDFBF7 100%);

    color:#202020;

    font-family:'Inter',sans-serif;

    overflow-x:hidden;

}

/*=========================
HEADER
=========================*/

header{

position:fixed;

top:0;

left:0;

width:100%;

padding:28px 8%;

display:flex;

justify-content:space-between;

align-items:center;

z-index:999;

background:rgba(248,245,239,.75);

backdrop-filter:blur(14px);

}

.logo{
    display:inline-flex;
    flex-direction:column;
}

.logo h3{
    font-family:'Cormorant Garamond', serif;
    font-size:1.8rem;
    font-weight:600;
    letter-spacing:2px;
    margin:0;
    line-height:1;
}

.logo span{
    width:100%;
    text-align:right;
    font-size:.68rem;
    font-style:italic;
    color:#8A8A8A;
    margin-top:2px;
    letter-spacing:.5px;
}

nav{

display:flex;

gap:45px;

}

nav a{

text-decoration:none;

color:#222;

font-size:.95rem;

transition:.3s;

}

nav a:hover{

opacity:.6;

}


/*=========================
HERO
=========================*/

.hero{

min-height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:0 25px;

max-width:900px;

margin:auto;

}

.tag{

letter-spacing:5px;

font-size:.75rem;

color:#A98C57;

margin-bottom:25px;

}

.hero h1{

font-family:'Cormorant Garamond',serif;

font-size:6rem;

font-weight:600;

line-height:1;

margin-bottom:35px;

}

.hero p{

max-width:720px;

font-size:1.25rem;

line-height:1.9;

color:#666;

margin-bottom:55px;

}

.btn{

display:inline-flex;

align-items:center;

justify-content:center;

padding:20px 44px;

border-radius:100px;

background:#1F1F1F;

color:white;

text-decoration:none;

font-weight:500;

transition:.35s;

}

.btn:hover{

transform:translateY(-5px);

background:#B08A4A;

}


/*=========================
RESPONSIVE
=========================*/

@media(max-width:900px){

nav{

display:none;

}

.hero h1{

font-size:3.8rem;

}

.hero p{

font-size:1.05rem;

}

}
.blur{

position:fixed;

border-radius:50%;

filter:blur(120px);

z-index:-1;

opacity:.55;

}

.blur1{

width:420px;

height:420px;

background:#FFF5DB;

top:-120px;

left:-100px;

}

.blur2{

width:350px;

height:350px;

background:#F3E6C6;

bottom:-120px;

right:-80px;

}
